{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "bracketSpacing": false,
  "semi": false,
  "error": {
    "singleQuote": true,
    "parser": "flow",
    "endOfLine": "auto"
  }
}
